@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html, body {
  background-color: #e6e6e6;
  /* background-color: white; */
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; }

nav {
  font-family: 'Montserrat', sans-serif; }

h1, h2 {
  cursor: default; }

h1, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.navPrincipal {
  background-color: white; }

.sec {
  background-image: url("../Imagenes/c-fondoindex.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.hea-pri {
  border-bottom: 1px solid #a3a3a3; }

.imagenh img {
  height: auto; }

.imagenh {
  width: auto; }

.variacion {
  text-decoration: none;
  background-image: linear-gradient(crimson, crimson);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .4s;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold; }
  .variacion:hover {
    color: #aa0000;
    background-size: 100% 1px; }
  .variacion:focus {
    background-size: 100% 1px; }

.inicial {
  color: red; }

.logo {
  display: flex;
  justify-content: center; }

.info {
  display: flex;
  justify-content: center;
  align-items: center; }

/* ------------------------- */
/* ------------------------- */
/* HOME */
/* ------------------------- */
/* ------------------------- */
.tamaño {
  border: none;
  width: 100%;
  height: 980px;
  background: #e6e6e6;
  background: linear-gradient(0deg, #e6e6e6 0%, white 100%, #00d4ff 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }

.tamaño-img {
  border-radius: 10px; }

.tamaño-ico {
  animation: flec 2000ms ease infinite; }

@keyframes flec {
  0% {
    transform: translatey(0); }
  50% {
    transform: translatey(-1.5vw); }
  100% {
    transform: translatey(0); } }

/* .carousel-item img{
    width: 100%;
    max-height: 740px;
    opacity: 0.5;
} */
/* ------------------------- */
/* ------------------------- */
/* NOSOTROS */
/* ------------------------- */
/* ------------------------- */
.nos {
  min-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.nos-tit {
  display: flex;
  justify-content: center;
  align-items: center; }

.nos-tit img {
  width: 10%; }

.nos-info {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px; }

.nos-info h3 {
  color: crimson; }

.nos-info-arr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 80px; }

.nos-info-arr-mis {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.nos-info-arr-mis-img {
  width: 500px;
  height: 380px; }

.nos-info-arr-mis-img img {
  width: 100%;
  border-radius: 10px; }

.nos-info-arr-mis-txt {
  width: 500px;
  height: 380px; }

.nos-info-arr {
  text-align: left; }

.nos-info-arr-vis {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse; }

.nos-info-arr-vis-img {
  width: 500px;
  height: 380px; }

.nos-info-arr-vis-img img {
  width: 100%;
  border-radius: 10px; }

.nos-info-arr-vis-txt {
  width: 500px;
  height: 380px; }

.nos-info-aba {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px; }

.nos-info-aba-tit {
  display: flex;
  justify-content: center; }

.nos-info-aba-con {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 80px; }

.nos-info-aba-con-pri {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.nos-info-aba-con-pri-img {
  width: 500px;
  height: 380px; }

.nos-info-aba-con-pri-img img {
  width: 100%;
  border-radius: 10px; }

.nos-info-aba-con-pri-txt {
  width: 500px;
  height: auto; }

.nos-info-aba-con {
  text-align: left; }

.nos-info-aba-con-sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse; }

.nos-info-aba-con-sec-img {
  width: 500px;
  height: 380px; }

.nos-info-aba-con-sec-img img {
  width: 100%;
  border-radius: 10px; }

.nos-info-aba-con-sec-txt {
  width: 500px;
  height: 380px; }

/* ------------------------- */
/* ------------------------- */
/* PRODUCTOS */
/* ------------------------- */
/* ------------------------- */
.prod {
  min-height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.prod-tit {
  display: flex;
  justify-content: center;
  align-items: center; }

.prod-tit img {
  width: 10%; }

.prod-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.prod-img-pri {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.prod-img-seg {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.prod-img-ter {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.card {
  margin: 10px;
  width: 180px;
  height: 180px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; }

.uno {
  background-image: url("../Imagenes/cabezales.png");
  background-repeat: no-repeat;
  background-size: cover; }

.dos {
  background-image: url("../Imagenes/cotiloQuarter.png");
  background-repeat: no-repeat;
  background-size: cover; }

.tres {
  background-image: url("../Imagenes/rodillaCCK.png");
  background-repeat: no-repeat;
  background-size: cover; }

.cuatro {
  background-image: url("../Imagenes/rodillaDCF.png");
  background-repeat: no-repeat;
  background-size: cover; }

.cinco {
  background-image: url("../Imagenes/espaciadores.png");
  background-repeat: no-repeat;
  background-size: cover; }

.seis {
  background-image: url("../Imagenes/prot2.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.siete {
  background-image: url("../Imagenes/vastagoKarey.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.ocho {
  background-image: url("../Imagenes/vastagoRev.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.nueve {
  background-image: url("../Imagenes/placatubo.png");
  background-repeat: no-repeat;
  background-size: cover; }

.prod-but {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px; }

/* ------------------------- */
/* ------------------------- */
/* CONTACTO */
/* ------------------------- */
/* ------------------------- */
#contacto {
  background: #e6e6e6;
  background: linear-gradient(180deg, #e6e6e6 0%, white 100%); }

.con {
  min-height: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.con-tit {
  display: flex;
  justify-content: center;
  align-items: center; }

.con-tit img {
  width: 10%; }

.con-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.con-info p {
  text-align: center; }

.con-info-sup {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.con-info-sup-dir {
  max-width: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.con-info-sup-tel {
  max-width: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.con-info-sup-mail {
  max-width: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

i {
  color: crimson; }

.con-info-inf {
  display: flex;
  justify-content: center;
  align-items: center; }

.con-info-inf-for {
  width: 600px;
  margin-bottom: 40px;
  background-color: rgba(230, 230, 230, 0.65);
  box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -webkit-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -moz-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.con-info-inf-for form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.con-info-inf-for input, .con-info-inf-for textarea {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid crimson;
  outline: none; }

.con-info-inf-for input {
  margin: 10px; }

.con-info-inf-for textarea {
  width: 100%; }

/* .con-info-inf-for button{
    margin-top: 20px;
    min-width: 100px;
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 20px;
} */
/* ------------------------- */
/* ------------------------- */
/* FOOTER */
/* ------------------------- */
/* ------------------------- */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid black;
  box-shadow: 21px 65px 147px -106px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 21px 65px 147px -106px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 21px 65px 147px -106px rgba(0, 0, 0, 0.75) inset; }

.fotHome {
  border-top: none;
  background: white;
  box-shadow: none; }

.fot {
  width: 100%;
  display: flex;
  justify-content: center; }

.fot img {
  width: 20%;
  border-bottom: 1px solid black; }

.tel {
  display: flex;
  justify-content: center;
  align-items: center; }

.tel p {
  text-align: center;
  font-size: 18px; }

@media screen and (max-width: 768px) {
  /* HOME */
  .tamaño {
    height: 400px;
    background-image: none;
    background: #e6e6e6;
    background: linear-gradient(0deg, #e6e6e6 0%, white 100%); }
  .tamaño-img {
    width: 300px; }
  .tamaño-img img {
    width: 300px; }
  /* NOSOTROS */
  .nos {
    height: auto;
    flex-direction: column;
    padding: 10px; }
  .nos-tit img {
    width: 20%; }
  .nos-info {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; }
  .nos-info-arr {
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .nos-info-arr-mis {
    width: 300px;
    margin-right: 0px;
    flex-direction: column;
    gap: 20px; }
  .nos-info-arr-mis-img {
    width: 300px;
    height: auto; }
  .nos-info-arr-mis-txt {
    width: 300px; }
  .nos-info-arr p {
    text-align: justify; }
  .nos-info-arr-vis {
    width: 300px;
    margin-left: 0px;
    flex-direction: row;
    gap: 20px; }
  .nos-info-arr-vis-txt {
    width: 300px; }
  .nos-info-arr-vis-img {
    width: 300px;
    height: auto; }
  .nos-info-aba {
    margin-top: 0px;
    gap: 0px; }
  .nos-info-aba p {
    text-align: justify; }
  .nos-info-aba-con {
    flex-direction: column;
    align-items: center; }
  .nos-info-aba-con {
    text-align: left; }
  .nos-info-aba-con p {
    text-align: justify; }
  .nos-info-aba-con-pri {
    width: 300px;
    flex-direction: column;
    gap: 20px; }
  .nos-info-aba-con-pri-img {
    width: 300px;
    height: auto; }
  .nos-info-aba-con-pri-txt {
    width: 300px; }
  .nos-info-aba-con-sec {
    width: 300px;
    flex-direction: row;
    gap: 20px; }
  .nos-info-aba-con-sec-img {
    width: 300px;
    height: auto; }
  .nos-info-aba-con-sec-txt {
    width: 300px; }
  /* PRODUCTOS */
  .prod {
    flex-direction: column; }
  .prod-tit {
    text-align: center; }
  .prod-tit img {
    width: 20%; }
  .prod-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .prod-img-pri, .prod-img-seg, .prod-img-ter {
    flex-direction: column; }
  /*     .prod-but a button{
        font-size: 12px;
        margin-bottom: 40px;
    } */
  /* CONTACTO */
  .con {
    height: auto;
    justify-content: center;
    flex-direction: column;
    gap: 40px; }
  .con-tit img {
    width: 20%; }
  .con-info-sup {
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .con-info-inf {
    display: flex;
    justify-content: center;
    align-items: center; }
  .con-info-inf-for {
    width: 300px; }
  form div {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column; }
  .fot img {
    width: 80%; } }

.sec {
  height: 100%;
  width: 100%; }

.inicio {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.inicio-img img {
  filter: drop-shadow(8px 8px 4px rgba(59, 59, 59, 0.5)); }

.inicio-dir {
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.inicio-dir a {
  text-decoration: none;
  font-size: 20px;
  color: crimson;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

.inicio-dir-reg {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.inicio-dir-con {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

@media screen and (max-width: 768px) {
  /* INDEX */
  .inicio-img img {
    width: 300px; }
  .inicio-dir {
    width: 300px;
    flex-direction: column;
    gap: 10px; }
  .inicio-dir a {
    font-size: 18px;
    color: #cacaca;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6); } }

/*LOGIN*/
.fondo__inicio {
  /*     background-image: url("../Imagenes/c-fondoindex.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */ }

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative; }

.caja__trasera {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #db0000; }

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms; }

.caja__trasera div p,
.caja__trasera button {
  margin-top: 30px; }

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px; }

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300; }

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms; }

.caja__trasera button:hover {
  background: #fff;
  color: #db0000; }

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.contenedor__login-register form {
  width: 100%;
  height: 650px;
  padding: 80px 20px;
  background: gainsboro;
  position: absolute;
  border-radius: 15px; }

li {
  list-style: none; }

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #db0000; }

.contenedor__login-register form input {
  width: 95%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
  border-radius: 5px; }

.contenedor__login-register form a {
  text-decoration: none;
  color: #db0000;
  font-weight: bold;
  font-size: 17px;
  /*     margin: 150px; */ }

.contenedor__login-register form a:hover {
  color: white; }

.contenedor__login-register form .centrado {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.contenedor__login-register form .centrado li a {
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor__login-register form .centrado li a:hover {
  color: #aa0000; }

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  margin-left: 120px;
  border: none;
  font-size: 14px;
  background-color: grey;
  /*     background-image: linear-gradient(to right, rgb(119, 31, 9),rgba(243, 29, 29, 0.726),rgb(117, 99, 99)); */
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 5px; }

.contenedor__login-register form button:hover {
  /*     background-color: rgb(184, 16, 49); */
  /*     background: linear-gradient(to right,rgb(117, 99, 99) ,rgba(243, 29, 29, 0.726),rgb(119, 31, 9)); */
  color: white; }

.formulario__login {
  opacity: 1;
  display: block; }

.formulario__register {
  display: none; }

@media screen and (max-width: 850px) {
  .fondo__inicio {
    background-image: none; }
  main {
    margin-top: 20px; }
  .caja__trasera {
    max-width: 300px;
    height: 200px;
    padding: 5px;
    flex-direction: column;
    margin: auto; }
  .caja__trasera div {
    margin: 0px;
    position: absolute; }
  .caja__trasera-register, .caja__trasera-login {
    width: 100%;
    text-align: center; }
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto; }
  .contenedor__login-register form {
    position: relative; } }

/* DATOS */
.principal-info-datos {
  margin-top: 50px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(230, 230, 230, 0.65);
  box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -webkit-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -moz-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset; }

.principal-info-datos-info {
  margin-top: 40px; }

.principal-info-datos-clave {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.principal-info-datos-clave button {
  margin-top: 20px;
  min-width: 170px;
  background-color: crimson;
  color: white;
  padding: 10px;
  border-radius: 20px; }

.principal-info-datos-clave-datos {
  display: flex;
  justify-content: center;
  align-items: center; }

.principal-info-datos-clave-contra {
  display: flex;
  justify-content: center;
  align-items: center; }

/* CONTRASEÑA */
.clave {
  display: flex;
  justify-content: center;
  align-items: center; }

.clave form {
  background-color: rgba(230, 230, 230, 0.65);
  box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -webkit-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -moz-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.clave form input {
  margin-bottom: 10px; }

/* .clave form button{
    margin-top: 20px;
    min-width: 100px;
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 20px;
} */
legend {
  font-size: 16px; }

label {
  font-size: 16px; }

fieldset {
  margin-top: 20px; }

.rad1, .rad2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 10px; }

.rad2-l {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.rad2-i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#dewey, #huey {
  width: 60px;
  margin-top: 0px; }

.rad1 label, .rad2 label {
  width: 120px; }

.rad1 input, .rad2 input {
  width: 40px; }

.cont-img {
  display: flex;
  justify-content: center; }

.imagenb {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagenb img {
  width: 100%; }

.navpri {
  display: flex;
  justify-content: space-evenly; }

.principal {
  padding: 40px;
  min-height: 700px;
  background-image: url("../Imagenes/c-fondoindexsis.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*     display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column; */ }

.principal-info {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

.principal-info-pri {
  min-width: 350px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #241c00;
  background: linear-gradient(90deg, #241c00 0%, #ffb400 0%, #0005ff 0%, #00bdff 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #000085;
  box-shadow: 10px 10px 22px 0px rgba(45, 0, 242, 0.6);
  -webkit-box-shadow: 10px 10px 22px 0px rgba(45, 0, 242, 0.6);
  -moz-box-shadow: 10px 10px 22px 0px rgba(45, 0, 242, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.principal-info-pri h2 {
  font-size: 24px;
  color: white; }

.principal-info-pri p {
  color: white;
  font-size: 30px; }

.principal-info-pri:hover {
  transition: box-shadow 1s;
  box-shadow: none; }

.principal-info-sec {
  min-width: 350px;
  padding: 10px;
  background: #241c00;
  background: linear-gradient(90deg, #241c00 0%, #ffb400 0%, #009e18 0%, rgba(1, 209, 32, 0.932) 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #146400;
  box-shadow: 10px 10px 22px 0px rgba(9, 247, 21, 0.6);
  -webkit-box-shadow: 10px 10px 22px 0px rgba(9, 247, 21, 0.6);
  -moz-box-shadow: 10px 10px 22px 0px rgba(9, 247, 21, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.principal-info-sec h2 {
  font-size: 24px;
  color: white; }

.principal-info-sec p {
  color: white;
  font-size: 30px; }

.principal-info-sec:hover {
  transition: box-shadow 1s;
  box-shadow: none; }

.principal-info-ter {
  min-width: 350px;
  padding: 10px;
  background: #241c00;
  background: linear-gradient(90deg, #241c00 0%, #ffb400 0%, red 0%, #ff5900 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #790000;
  box-shadow: 10px 10px 22px 0px rgba(201, 13, 13, 0.6);
  -webkit-box-shadow: 10px 10px 22px 0px rgba(201, 13, 13, 0.6);
  -moz-box-shadow: 10px 10px 22px 0px rgba(201, 13, 13, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.principal-info-ter h2 {
  font-size: 24px;
  color: white; }

.principal-info-ter p {
  color: white;
  font-size: 30px; }

.principal-info-ter:hover {
  transition: box-shadow 1s;
  box-shadow: none; }

/* secund */
.secundario-info {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

.secundario-info-pri {
  min-width: 350px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #241c00;
  background: linear-gradient(90deg, #241c00 0%, #ffb400 0%, #0005ff 0%, #00bdff 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #000085;
  box-shadow: 10px 10px 22px 0px rgba(45, 0, 242, 0.6);
  -webkit-box-shadow: 10px 10px 22px 0px rgba(45, 0, 242, 0.6);
  -moz-box-shadow: 10px 10px 22px 0px rgba(45, 0, 242, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.secundario-info-pri h2 {
  font-size: 24px;
  color: white; }

.secundario-info-pri p {
  color: white;
  font-size: 30px; }

.secundario-info-pri:hover {
  transition: box-shadow 1s;
  box-shadow: none; }

.secundario-info-sec {
  min-width: 350px;
  padding: 10px;
  background: #241c00;
  background: linear-gradient(90deg, #241c00 0%, #ffb400 0%, #009e18 0%, rgba(1, 209, 32, 0.932) 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #146400;
  box-shadow: 10px 10px 22px 0px rgba(9, 247, 21, 0.6);
  -webkit-box-shadow: 10px 10px 22px 0px rgba(9, 247, 21, 0.6);
  -moz-box-shadow: 10px 10px 22px 0px rgba(9, 247, 21, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.secundario-info-sec h2 {
  font-size: 24px;
  color: white; }

.secundario-info-sec p {
  color: white;
  font-size: 30px; }

.secundario-info-sec:hover {
  transition: box-shadow 1s;
  box-shadow: none; }

.secundario-info-ter {
  min-width: 350px;
  padding: 10px;
  background: #241c00;
  background: linear-gradient(90deg, #241c00 0%, #ffb400 0%, red 0%, #ff5900 100%);
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #790000;
  box-shadow: 10px 10px 22px 0px rgba(201, 13, 13, 0.6);
  -webkit-box-shadow: 10px 10px 22px 0px rgba(201, 13, 13, 0.6);
  -moz-box-shadow: 10px 10px 22px 0px rgba(201, 13, 13, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.secundario-info-ter h2 {
  font-size: 24px;
  color: white; }

.secundario-info-ter p {
  color: white;
  font-size: 30px; }

.secundario-info-ter:hover {
  transition: box-shadow 1s;
  box-shadow: none; }

.principal-datos {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.65);
  box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -webkit-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -moz-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 400;
  color: black; }

.principal-datos table {
  background-color: transparent;
  box-shadow: none; }

.principal-datos h2 {
  font-size: 30px; }

.principal-datos-cont p {
  font-size: 24px; }

.principal-datos-cont {
  width: 90%;
  margin-left: 20px; }

.principal-datos-cont table {
  width: 100%;
  background-color: transparent;
  border: none; }

.principal-datos-cont table tr {
  background-color: transparent;
  border: none;
  text-align: left; }

.principal-datos-cont table tr th {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: left; }

.principal-datos-cont table tr td {
  background-color: transparent;
  border: none;
  text-align: left; }

.colm {
  border-bottom: 1px solid black; }

/* PRINCIPAL VENTAS */
.colm {
  background-color: transparent;
  border-bottom: 2px solid black; }

/* VENTAS Y LICITACIONES */
.principal-ventaslicitaciones {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color: rgba(230, 230, 230, 0.65);
  box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -webkit-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -moz-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.principal-ventaslicitaciones-img {
  font-size: 30px;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.not-exit {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px; }

.card-counter {
  width: 300px;
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all; }

.card-counter.primary {
  background-color: #007bff;
  color: #FFF; }

.card-counter.danger {
  background-color: #ef5350;
  color: #FFF; }

.card-counter.success {
  background-color: #66bb6a;
  color: #FFF; }

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
  color: currentColor;
  max-height: 60px; }

.card-counter .count-numbers {
  font-size: 32px;
  display: block; }

.card-counter .count-name {
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px; }

.card-pri {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.card-sec {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

/* ----------------- */
@media screen and (max-width: 768px) {
  .principal {
    padding: 0px;
    margin-bottom: 10px; }
  .principal-datos {
    width: 300px;
    height: auto; }
  .principal-datos h2 {
    font-size: 24px; }
  .principal-datos-cont p {
    font-size: 20px; }
  .principal-datos-cont table {
    display: block;
    overflow-x: auto;
    overflow: auto; }
  .principal-datos-cont table tr {
    background-color: transparent;
    border: none;
    text-align: left; }
  .principal-datos-cont table tr th {
    padding: 5px; }
  .principal-datos-cont table tr td {
    padding: 5px; }
  .inicio-tit {
    text-align: center; } }

.ini {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.ini-tit {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.form-grilla {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.form-grilla-busc {
  display: flex;
  justify-content: center;
  align-items: center; }

.form-grilla-but {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; }

.busc {
  min-width: 600px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid crimson;
  outline: none; }

/* .button{
    margin-right: 10px;
    min-width: 100px;
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.button:hover{
	background-color: #f7fbfd;
	color: crimson;
	transition-property: background-color, #f7fbfd;
	transition-duration: 1s;
	transition-delay: 0s;
} */
.agregar a {
  text-decoration: none; }

.nuevo {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #198754;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-weight: bold; }

.nuevo:hover {
  background-color: #157347;
  color: white;
  transition-duration: 1s;
  transition-delay: 0s; }

table {
  margin-top: 20px;
  background-color: #dbe5e9;
  border-collapse: collapse;
  width: 90%;
  background-color: rgba(230, 230, 230, 0.65);
  box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -webkit-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -moz-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset; }

th, td {
  text-align: center;
  border: solid 1px #f7fbfd;
  border-bottom: solid 1px crimson;
  font-weight: bold; }

thead {
  background-color: rgba(230, 230, 230, 0.65);
  border-bottom: solid 5px crimson;
  width: 100%; }

/*ACA ESTABA EL PROBLEMA DEL ACOMODAMIENTO EN "VER PENDIENTES" Y "VER" QUE SE ACHICABA EL TABLE*/
tr:nth-child(even) {
  background-color: #edf0f5; }

tr:hover td {
  background-color: rgba(220, 20, 60, 0.25); }

/* STOCK */
.agrStock {
  display: flex;
  justify-content: center;
  align-items: center; }

.agrStock form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(230, 230, 230, 0.65);
  box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -webkit-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  -moz-box-shadow: 15px 6px 72px 4px rgba(0, 0, 0, 0.18) inset;
  border-radius: 20px; }

.agrStock form input, .agrStock form select, .agrStock form textarea {
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid crimson;
  outline: none; }

.volver {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px;
  top: 30px;
  left: 30px;
  background: transparent;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: 0.6s;
  border: 1px solid crimson; }

.volver:hover {
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
  transition-property: background-color, white;
  transition-duration: 1s;
  transition-delay: 0s; }

.agregando {
  position: absolute;
  width: 90px;
  height: 55px;
  line-height: 55px;
  top: 30px;
  right: 30px;
  background: crimson;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: 0.6s; }

.agregando:hover {
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
  transition-property: background-color, white;
  transition-duration: 1s;
  transition-delay: 0s; }

/* ----------------- */
@media screen and (max-width: 768px) {
  .form-grilla {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px; }
  .form-grilla-but {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px; }
  .busc {
    min-width: 300px;
    margin-right: 0px; }
  table {
    display: block;
    overflow-x: auto;
    overflow: auto; }
  .ini-tit {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center; } }

.detalles {
  display: flex;
  justify-content: center;
  align-items: center; }

.agrStock {
  margin-top: 40px; }

.agrStock-detalles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  border: 1px solid crimson;
  background-color: rgba(199, 199, 199, 0.61);
  border-radius: 20px; }

.agrStock-detalles h3 {
  font-size: 20px;
  padding: 10px; }

.btn-pdf {
  gap: 5px; }

.btnPuntaje {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px; }

.not-exit {
  min-width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; }

.not-exit-name {
  width: 100%;
  height: auto;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px; }

.not-exit-exit {
  display: flex;
  justify-content: center;
  align-items: center; }

p {
  margin-bottom: 0rem; }

.btn-outline-danger {
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid; }

.cot {
  margin-top: 20px; }

.cot-cab {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px; }

.cot-cab-tit {
  width: 100%;
  padding: 10px;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 80px; }

.cot-cab-nombre {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/* ---- */
.cot-datos {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

.cot-datos-info {
  padding: 10px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.cot-info {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

.cot-info-inf {
  padding: 10px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.cot-gri {
  border: 1px solid black; }

.cot-gri-info {
  padding: 10px;
  margin-left: 80px;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.cot-fin {
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

.cot-fin-info {
  padding: 10px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.btn-pdf {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.agrStock form .nroCot input {
  width: 50px;
  background-color: transparent;
  border: none;
  border-bottom: none;
  outline: none; }

.pre {
  width: 120px;
  height: 70px; }

.valorPeque {
  width: 1px;
  height: 1px;
  cursor: default;
  color: #e6e6e6; }

.fa-cloud-arrow-up:hover {
  color: white; }

.agrStock form .inputOculto {
  width: 100px;
  padding: 0px;
  border: none; }

.agrStock form .ocult .inputOculto {
  padding: 0px;
  border: none; }

.agrStock form .ocultar {
  width: 1px;
  border-bottom: none;
  cursor: default; }

/* AGREGAR PRODUCTOS */
.inicio-agregar {
  height: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.inicio-agregar-pri {
  display: flex;
  justify-content: center;
  align-items: center; }

.inicio-agregar-seg {
  display: flex;
  justify-content: center;
  align-items: center; }

.inicio-agregar-ter {
  display: flex;
  justify-content: center;
  align-items: center; }

.archivo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px; }

/* ----------------- */
@media screen and (max-width: 768px) {
  .agrStock {
    width: 300px; }
  .agrStock form {
    width: 300px; }
  .file--tamaño {
    max-width: 280px; }
  .file--tamaño input {
    max-width: 250px; } }

.contGrafico {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px; }

.grafico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.grafico-tit {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.grafico-gra {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.corto {
  text-align: right;
  width: 60px;
  cursor: default; }

.medio {
  text-align: right;
  width: 100px; }

.largo {
  width: 500px;
  /*     cursor: default; */ }

.ini-hist {
  max-width: 700px; }

.contador {
  margin-top: 40px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.contador_pri {
  display: flex;
  justify-content: center;
  align-items: center; }

.contador_seg {
  display: flex;
  justify-content: center;
  align-items: center; }

.contador_ter {
  display: flex;
  justify-content: center;
  align-items: center; }

.verMas {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.verMas a {
  text-decoration: none;
  border: 2px solid crimson;
  border-radius: 10px;
  padding: 5px;
  color: crimson;
  font-weight: bold;
  transition: 0.6s; }

.verMas a:hover {
  background-color: #bb1032;
  transition: 0.6s;
  color: white; }

.formFilter {
  width: 100%; }

.contFilter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem; }

.contFilter--search {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem; }

.contResult {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 10px; }

.tercer-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 20px; }

.stats {
  height: 350px;
  width: 240px;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 5px;
  background: linear-gradient(0deg, #e6e6e6 0%, white 100%, #00d4ff 100%);
  box-shadow: 10px 10px 20px 0px rgba(143, 143, 143, 0.75);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(143, 143, 143, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(143, 143, 143, 0.75);
  border: 0.5px solid rgba(143, 143, 143, 0.75);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }

.card-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }

.card-body a {
  color: white; }

.card-body a:hover {
  color: white; }

.card-title {
  text-align: center; }

.cuarto--info {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid black; }

.cuarto--info--btn {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.cuarto--info--btn button:hover {
  color: white; }

.grafica5, .grafica5a, .grafica6, .grafica6a, .grafica7, .grafica7a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.grafica5a, .grafica6a, .grafica7a {
  display: none; }

#MiGrafica4, #MiGrafica5, #MiGrafica, #MiGrafica1 {
  width: 900px !important;
  height: 600px !important; }

#MiGrafica2, #MiGrafica3 {
  width: 900px !important;
  height: 400px !important; }

/* ----------------- */
@media screen and (max-width: 768px) {
  .contador {
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px; }
  .cuarto--info {
    padding: 5px; }
  #MiGrafica4, #MiGrafica5, #MiGrafica, #MiGrafica1, #MiGrafica2, #MiGrafica3 {
    width: 300px !important;
    height: 200px !important; }
  .grafica5 h1, .grafica5a h1, .grafica6 h1, .grafica6a h1, .grafica7 h1, .grafica7a h1 {
    font-size: 18px; } }
