.contGrafico{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}
.grafico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grafico-tit{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico-gra{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corto{
    text-align: right;
    width: 60px;
    cursor: default;
}

.medio{
    text-align: right;
    width: 100px;
}
.largo{
    width: 500px;
/*     cursor: default; */
}

.ini-hist{
    max-width: 700px;
}

.contador{
    margin-top: 40px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contador_pri{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador_seg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador_ter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.verMas{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.verMas a{
    text-decoration: none;
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 5px;
    color: crimson;
    font-weight: bold;
    transition: 0.6s;
}

.verMas a:hover{
    background-color: rgb(187, 16, 50);
    transition: 0.6s;
    color: white;
}

.formFilter{
    width: 100%;
}

.contFilter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.contFilter--search{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.contResult{
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tercer-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 20px;
}

.stats{
    height: 350px;
    width: 240px;
    border-radius: 5px;
    padding: 20px 10px;
    margin: 5px;
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
    box-shadow: 10px 10px 20px 0px rgba(143,143,143,0.75);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(143,143,143,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(143,143,143,0.75);
    border: 0.5px solid rgba(143,143,143,0.75);
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.card-body a{
    color: white;
}
.card-body a:hover{
    color: white;
}
.card-title{
    text-align: center;
}




.cuarto--info{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;

    border-radius: 10px;
    border: 1px solid black;
}
.cuarto--info--btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cuarto--info--btn button:hover{
    color: white;
}

.grafica5, .grafica5a, .grafica6, .grafica6a, .grafica7, .grafica7a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grafica5a, .grafica6a, .grafica7a{
	display: none;
}

#MiGrafica4, #MiGrafica5, #MiGrafica, #MiGrafica1{
    width: 900px !important;
    height: 600px !important;
}

#MiGrafica2, #MiGrafica3{
    width: 900px !important;
    height: 400px !important;
}

/* ----------------- */

@media screen and (max-width: 768px){
    .contador{
        width: 300px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
    .cuarto--info{
        padding: 5px;
    }
    #MiGrafica4, #MiGrafica5, #MiGrafica, #MiGrafica1, #MiGrafica2, #MiGrafica3{
        width: 300px !important;
        height: 200px !important;
    }
    .grafica5 h1, .grafica5a h1, .grafica6 h1, .grafica6a h1, .grafica7 h1, .grafica7a h1{
        font-size: 18px;
    }

}