.ini{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ini-tit{
    margin-top: 20px;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-grilla{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form-grilla-busc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-grilla-but{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.busc{
    min-width: 600px;
    margin-right: 20px;

    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid crimson;
    outline: none;
}

/* .button{
    margin-right: 10px;
    min-width: 100px;
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.button:hover{
	background-color: #f7fbfd;
	color: crimson;
	transition-property: background-color, #f7fbfd;
	transition-duration: 1s;
	transition-delay: 0s;
} */

.agregar a{
    text-decoration: none;
}

.nuevo{
    position : fixed ;
    width : 55px ;
    height : 55px ;
    line-height : 55px ;
    bottom : 30px ;
    right : 30px ;
    background : #198754 ;
    color: #fff ;
    border-radius : 50px ;
    text-align : center ;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    font-weight: bold;
}

.nuevo:hover{
	background-color: #157347;
	color: white;
	transition-duration: 1s;
	transition-delay: 0s;
}

table{
    margin-top: 20px;
 	background-color: #dbe5e9;

	border-collapse: collapse;
	width:90%;
    background-color: rgba(230, 230, 230, 0.650);
    box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
    -webkit-box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
    -moz-box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
}

th, td{
    text-align: center;
	border: solid 1px #f7fbfd;
	border-bottom: solid 1px crimson;
    font-weight: bold;
}

thead{
    background-color: rgba(230, 230, 230, 0.650);
	border-bottom: solid 5px crimson;
	width: 100%;
}/*ACA ESTABA EL PROBLEMA DEL ACOMODAMIENTO EN "VER PENDIENTES" Y "VER" QUE SE ACHICABA EL TABLE*/

tr:nth-child(even){
	background-color: #edf0f5;
}

tr:hover td{
	background-color: rgba(220, 20, 60, 0.250);
}


/* STOCK */

.agrStock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agrStock form{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    background-color: rgba(230, 230, 230, 0.650);
    box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
    -webkit-box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
    -moz-box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
    border-radius: 20px;
}

.agrStock form input, .agrStock form select, .agrStock form textarea{
    padding: 10px;
    margin: 10px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid crimson;
    outline: none;
}

.volver{
    position : absolute;
    width : 50px;
    height :50px;
    padding: 10px;
    top : 30px ;
    left : 30px ;
    background : transparent ;
    color: #fff ;
    border-radius : 50px;
    text-align : center ;
    font-size: 18px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.6s;
    border: 1px solid crimson;
}

.volver:hover{
	background-color: white;
	color: crimson;
    border: 1px solid crimson;
	transition-property: background-color, white;
	transition-duration: 1s;
	transition-delay: 0s;
}


.agregando{
    position: absolute;
    width: 90px;
    height: 55px;
    line-height: 55px;
    top: 30px;
    right: 30px;
    background: crimson;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    transition: 0.6s;
}

.agregando:hover{
	background-color: white;
	color: crimson;
    border: 1px solid crimson;
	transition-property: background-color, white;
	transition-duration: 1s;
	transition-delay: 0s;
}

.botones{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}


/* ----------------- */

@media screen and (max-width: 768px){
    .form-grilla{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    
    .form-grilla-but{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5px;
    }
    
    .busc{
        min-width: 300px;
        margin-right: 0px;
    }
    table{
        display: block;
        overflow-x: auto;
        overflow: auto;
    }
    .ini-tit{
        margin-top: 20px;
        margin-bottom: 40px;
    
       text-align: center;
    }

    .contenedorDinamico{
        width: 300px;
    }


    .gril{
        width: 280px;
    }
    .gril .corto{
        width: 70px;
    }
}