.imagenh img {
    height: $a; }
  
.imagenh{
    width: $a;
}

.variacion{
    text-decoration: none;
    background-image: linear-gradient(crimson, crimson);
    background-position: 0% $prc;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s;
    color: black;
    font-size: 20px;
    font-weight: bold;
    &:hover{
        color: rgb(170, 0, 0);
        background-size: $prc 1px;
    }
    &:focus {
        background-size: $prc 1px;
    }

}

.inicial{
    color: red;
}

.logo{
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------- */
/* ------------------------- */
/* HOME */
/* ------------------------- */
/* ------------------------- */

.tamaño{
    border: none;
    width: 100%;
    height: 980px;
    background: rgb(230,230,230);
    background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.tamaño-img{
    border-radius: 10px;
}

.tamaño-ico{
    animation: flec 2000ms ease infinite;
}

@keyframes flec {
    0% {
      transform: translatey(0); }
    50% {
      transform: translatey(-1.5vw); } 
    100% {
      transform: translatey(0); } }
/* .carousel-item img{
    width: 100%;
    max-height: 740px;
    opacity: 0.5;
} */

/* ------------------------- */
/* ------------------------- */
/* NOSOTROS */
/* ------------------------- */
/* ------------------------- */
.nos{
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nos-tit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nos-tit img{
    width: 10%;
}

.nos-info{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}

.nos-info h3{
    color: crimson;
}

.nos-info-arr{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.nos-info-arr-mis{
    max-width: 300px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nos-info-arr{
    text-align: left;
}

.nos-info-arr-vis{
    max-width: 300px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nos-info-aba{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nos-info-aba-tit{
    display: flex;
    justify-content: center;
}

.nos-info-aba-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.nos-info-aba-con-pri{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nos-info-aba-con{
    text-align: left;
}

.nos-info-aba-con-sec{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* ------------------------- */
/* ------------------------- */
/* PRODUCTOS */
/* ------------------------- */
/* ------------------------- */
.prod{
    min-height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.prod-tit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-tit img{
    width: 10%;
}

.prod-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prod-img-pri{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.prod-img-seg{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.prod-img-ter{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card{
    margin: 10px;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}


.uno{
    background-image: url("../Imagenes/cabezales.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.dos{
    background-image: url("../Imagenes/cotiloQuarter.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.tres{
    background-image: url("../Imagenes/rodillaCCK.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cuatro{
    background-image: url("../Imagenes/rodillaDCF.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cinco{
    background-image: url("../Imagenes/espaciadores.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.seis{
    background-image: url("../Imagenes/prot2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.siete{
    background-image: url("../Imagenes/vastagoKarey.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ocho{
    background-image: url("../Imagenes/vastagoRev.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nueve{
    background-image: url("../Imagenes/placatubo.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.prod-but{
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
/* ------------------------- */
/* ------------------------- */
/* CONTACTO */
/* ------------------------- */
/* ------------------------- */

#contacto{
    background: rgb(230,230,230);
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);
}
.con{
    min-height: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.con-tit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-tit img{
    width: 10%;
}

.con-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con-info p{
    text-align: center;
}

.con-info-sup{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.con-info-sup-dir{
    max-width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.con-info-sup-tel{
    max-width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.con-info-sup-mail{
    max-width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

i{
    color: crimson;
}

.con-info-inf{
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-info-inf-for{
    width: 600px;
    margin-bottom: 40px;

    background-color: rgba(230, 230, 230, 0.650);
    box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
    -webkit-box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
    -moz-box-shadow: 15px 6px 72px 4px rgba(0,0,0,0.18) inset;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con-info-inf-for form{
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con-info-inf-for input, .con-info-inf-for textarea{
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid crimson;
    outline: none;
}

.con-info-inf-for input{
    margin: 10px;
}

.con-info-inf-for textarea{
    width: 100%;
}

/* .con-info-inf-for button{
    margin-top: 20px;
    min-width: 100px;
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 20px;
} */


/* ------------------------- */
/* ------------------------- */
/* FOOTER */
/* ------------------------- */
/* ------------------------- */

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid black;
    box-shadow: 21px 65px 147px -106px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 21px 65px 147px -106px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 21px 65px 147px -106px rgba(0,0,0,0.75) inset;
}

.fotHome{
    border-top: none;
    background: white;
    box-shadow: none;
}

.fot{
    width: 100%;
    display: flex;
    justify-content: center;
}

.fot img{
    width: 20%;
    border-bottom: 1px solid black;
}

.tel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tel p{
    text-align: center;
    font-size: 18px;
}




@media screen and (max-width: 768px){
    /* HOME */
    .tamaño{
        height: 400px;
        background-image: none;
        background: rgb(230,230,230);
        background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);
    }
    .tamaño-img{
        width: 300px;
    }
    .tamaño-img img{
        width: 300px;
    }


    /* NOSOTROS */
    .nos{
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    .nos-tit img{
        width: 20%;
    }    
    .nos-info{
        margin-top: 10px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    .nos-info-arr{
        width: 300px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }    
    .nos-info-arr-mis{
        margin-right: 0px;
    }    
    .nos-info-arr p{
        text-align: justify;
    }    
    .nos-info-arr-vis{
        margin-left: 0px;
    }    
    .nos-info-aba{
        margin-top: 0px;
        gap: 40px;
    }
    .nos-info-aba p{
        text-align: justify;
    }    
    .nos-info-aba-con{
        flex-direction: column;
        align-items: center;
    }
    .nos-info-aba-con{
        text-align: left;
    }
    .nos-info-aba-con p{
        text-align: justify;
    }
    

    /* PRODUCTOS */
    .prod{
        flex-direction: column;
    }   
    .prod-tit{
        text-align: center;
    }    
    .prod-tit img{
        width: 20%;
    }    
    .prod-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }    
    .prod-img-pri, .prod-img-seg, .prod-img-ter{
        flex-direction: column;
    }
/*     .prod-but a button{
        font-size: 12px;
        margin-bottom: 40px;
    } */


    /* CONTACTO */
    .con{
        height: auto;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
    .con-tit img{
        width: 20%;
    }
    .con-info-sup{
        width: 300px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .con-info-inf{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .con-info-inf-for{
        width: 300px;
    }
    form div{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }

    .fot img{
        width: 80%;
    }
}