.sec{
    height:100%;
    width: 100%;
}

.inicio{
    height:100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inicio-img img{
    filter: drop-shadow(8px 8px 4px rgba(59, 59, 59, 0.5));
}

.inicio-dir{
    width: 50%;
    margin-top: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.inicio-dir a{
    text-decoration: none;
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.inicio-dir-reg{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inicio-dir-con{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media screen and (max-width: 768px){
    /* INDEX */
    .inicio-img img{
        width: 300px;
    }
    .inicio-dir{
        width: 300px;
        flex-direction: column;
        gap: 10px;
    }
    .inicio-dir a{
        font-size: 18px;
        color: rgb(202, 202, 202);
        text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    }
}